# Owned by Relight Engine 2024



# == General ==


# Remove personal directories

.Internal/

# Remove personal Configs

Configs/BaseBuilder.cfg

# Remove compiled directories

bin/

# Remove uneeded directories

Programs/RelightBuildTool/.Cashe/

Configs/Test.cfg

Intermediate/

# Remove compiled files

Programs/RelightBuildTool/Configuration.py


# == Python ==

# remove python's cache code

**__pycache__

# == Project Files == #

Make

Makefile

.mk

# For RelightBuildTool_neXt
!Make*/

# HIDE UNTIL READY TO BE RELEASED

Programs/BACKUP

Programs/RelightBuildTool
